.rating {
  unicode-bidi: bidi-override;
  direction: rtl;

  > span {
    display: inline-block;
    position: relative;
    width: 1.1em;

    &:hover:before,
    &:hover ~ span:before {
      content: "\2605";
      position: absolute;
    }
  }
}
