<div class="row">
    <div class="col-12 col-lg-9">
        <div class="page-panel" *ngIf="recipe">
            <h4>{{recipe.name}}</h4>
            <small id="author" class="text-muted">
                por {{recipe.author.full_name}}
            </small><br>
            <img src="assets/recipes/dessert/bolo-caneca.jpg" class="img-fluid rounded mx-auto d-block" alt="Foto da receita">
            <hr>
            <h5 class="text-center">Informações</h5>
            <div class="row">
                <div class="col-sm-12">
                    <span>
                        {{recipe.description}}
                    </span>
                    <div class="v-space"></div>
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <h6>Tempo de Preparo</h6>
                            {{recipe.ready_in_time}} min
                        </div>
                        <div class="col-sm-4 text-center">
                            <h6>Número de Porções</h6>
                            {{recipe.portions}}
                        </div>
                        <div class="col-sm-4 text-center">
                            <h6>Valor Nutricional</h6>
                            {{recipe.nutritional_info}}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h5 class="text-center">Ingredientes</h5>
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}</li>
                    </ul>
                </div>
            </div>
            <hr>
            <h5 class="text-center">Instruções de Preparo</h5>
            <div class="row">
                <div class="col-sm-12" [innerHTML]="recipe.instructions | enterToBr | sanitize"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <app-top-recipes></app-top-recipes>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-9 mt-3">
        <div class="page-panel">
            <h5>Comentários</h5>
            <form>
                <!-- TODO: incluir um elemento de input para armazenar qual estrela foi clicada -->
                Diga o que achou da receita
                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="commentText" name="commentText" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Comentar</button>
                </div>

            </form>

            <div>
                <hr>
                <blockquote class="blockquote">
                    <p class="mb-0">Faltou tompêrro, Jacquin! ! !</p>
                    <footer class="blockquote-footer">Paola Carosella<small class="text-muted"> em 03/10/2017</small></footer>
                </blockquote>

                <blockquote class="blockquote">
                    <p class="mb-0">Hum... Chega a manteiga derrete...</p>
                    <footer class="blockquote-footer">Menina da Panificadora Alfa<small class="text-muted"> em 01/10/2017</small></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
