<h2>Mais vistas</h2>
<hr/>
<div class="row">
  <div class="col-12">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" routerLink="/detalhes/1">Miojo</a>
      <a href="#" class="list-group-item list-group-item-action" routerLink="/detalhes/1" routerLinkActive="active">Bolo de caneca</a>
      <a href="#" class="list-group-item list-group-item-action" routerLink="/detalhes/1">Pizza de pão de forma</a>
      <a href="#" class="list-group-item list-group-item-action" routerLink="/detalhes/1">Café forte</a>
    </div>
  </div>
</div>
