@import "../../../../stylesheets/variables/variables";

.card-img-top-placeholder {
  width: 100%;
  background-size: cover;
  background-position: center;

  &:before {
    content: "";
    float: left;
    padding-bottom: 40%;
  }

  :after {
    content: "";
    display: table;
    clear: both;
  }
}

a,
a:hover {
  color: $body-color;
  text-decoration: none;
}

a.card:hover {
  box-shadow: 0 2px 2px $gray-300;
}
