<h2>Mais vistas</h2>
<hr/>
<div class="row">
  <div class="col-12">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" routerLink="/detalhes/1" routerLinkActive="active">Miojo</a>
      <a href="#" class="list-group-item list-group-item-action" routerLink="/detalhes/2" routerLinkActive="active">Bolo de caneca</a>
      <a href="#" class="list-group-item list-group-item-action" routerLink="/detalhes/3" routerLinkActive="active">Pizza de pão de forma</a>
      <a href="#" class="list-group-item list-group-item-action" routerLink="/detalhes/5" routerLinkActive="active">Café forte</a>
      <a href="#" class="list-group-item list-group-item-action" routerLink="/detalhes/4" routerLinkActive="active">'Aquele' hambúrguer</a>
    </div>
  </div>
</div>
