<div class="row">
    <div class="col-sm-12">
        <div class="page-panel">
            <h5>Cadastro</h5>
            <hr>
            <form (submit)="onSubmit()">
                <div class="form-group row">
                    <label for="fullName" class="col-sm-4 col-md-3 col-form-label">Nome Completo</label>
                    <div class="col-sm-8 col-md-9">
                        <input type="text" class="form-control text-uppercase" id="fullName" name="fullName" [(ngModel)]="newUser.fullName" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="birthdate" class="col-sm-4 col-md-3 col-form-label">Data de Nascimento</label>
                    <div class="col-sm-8 col-md-9">
                        <input type="text" placeholder="DD/MM/AAAA" class="form-control" id="birthdate" name="birthdate" [(ngModel)]="newUser.birthdate" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="city" class="col-sm-4 col-md-3 col-form-label">Cidade</label>
                    <div class="col-sm-8 col-md-9">
                        <input type="text" class="form-control text-uppercase" id="city" name="city" [(ngModel)]="newUser.city" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="state" class="col-sm-4 col-md-3 col-form-label">Estado</label>
                    <div class="col-sm-8 col-md-9">
                        <select class="form-control" id="state" name="state" [(ngModel)]="newUser.state" required>
                            <option selected hidden [value]="undefined">Escolha um Estado</option>
                            <option *ngFor="let state of ( states | async)" [value]="state.id">{{state.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-sm-4 col-md-3 col-form-label">Telefone</label>
                    <div class="col-sm-8 col-md-9">
                        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="newUser.phone" placeholder="(XX) XXXX-XXXX" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-4 col-md-3 col-form-label">E-mail</label>
                    <div class="col-sm-8 col-md-9">
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newUser.email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-4 col-md-3 col-form-label">Senha</label>
                    <div class="col-sm-8 col-md-9">
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="newUser.password" required>
                        <small id="passwordHelpInline" class="text-muted">
                            Deve conter pelo menos:
                            <ul>
                                <li [ngClass]="{'text-success': containsUpper(newUser.password)}">1 letra maiúscula</li>
                                <li [ngClass]="{'text-success': containsLower(newUser.password)}">1 letra minúscula</li>
                                <li [ngClass]="{'text-success': containsSpecial(newUser.password)}">1 caractere especial</li>
                                <li [ngClass]="{'text-success': containsDigit(newUser.password)}">1 dígito</li>
                            </ul>
                        </small>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="passwordVerification" class="col-sm-4 col-md-3 col-form-label">Confirmação de senha</label>
                    <div class="col-sm-8 col-md-9">
                        <input type="password" class="form-control" id="passwordVerification" name="passwordVerification" [(ngModel)]="newUser.passwordVerification" required>
                    </div>
                </div>
                <div class="float-right clearfix">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
