<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-primary">
  <a class="navbar-brand" routerLink="">
    <img src="assets/rosquinha.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Quero Rosquinha
  </a>
  <button class="navbar-toggler d-xl-none d-lg-none"
          type="button"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseMenu"
          aria-label="Menu de navegação"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" id="collapseMenu" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"
           (click)="isCollapsed = true"
           routerLink="/categorias"
           routerLinkActive="active">Categorias</a>
      </li>
      <li class="nav-item" *ngIf="getToken()">
        <a class="nav-link"
           (click)="isCollapsed = true"
           routerLink="/incluir-receita"
           routerLinkActive="active">Incluir receita</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="getToken(); else logout">
        <a routerLink="/login" class="nav-link" (click)="doLogout()">Logout</a>
      </li>
      <ng-template #logout>
        <li class="nav-item">
          <a class="nav-link"
           (click)="isCollapsed = true"
           routerLink="/login"
           routerLinkActive="active">Login | Cadastre-se</a>
        </li>
      </ng-template>
    </ul>
    <form class="form-inline ml-0 ml-lg-3 my-2 my-lg-0" (ngSubmit)="onSearch()">
      <div class="input-group">
        <input class="form-control" type="text" name="search" id="search" [(ngModel)]="query" placeholder="Pesquisar" aria-label="Pesquisar">
        <datalist id="Opcoes">
          <option *ngFor="let option of search" [value]="option">{{option}}</option>
        </datalist>
        <span class="input-group-btn">
          <button class="btn btn-secondary icon-inside" type="submit"><i class="material-icons">search</i></button>
        </span>
      </div>
    </form>
  </div>
</nav>
