<a routerLink="/detalhes/{{id}}" class="card mb-3">
  <div class="card-img-top card-img-top-placeholder" [style.background-image]="'url('+img+')'"></div>
  <div class="card-body">
    <h5 class="card-title">{{recipeTitle}}</h5>
    <p class="card-text">{{abstract}}</p>
    <p class="card-text">{{author}}</p>
    <p class="card-text"><small class="text-muted">Enviado <span title="{{submitDate | moment:'DD [de] MMMM [de] YYYY [às] HH:mm'}}">{{submitDate | fromNow}}</span></small></p>
  </div>
</a>
