<footer class="text-muted">
  <div class="container-fluid p-3">
    <p>Desenvolvido com <i class="material-icons">favorite</i> por
      <span placement="top" ngbTooltip="9167910 - Carlos Alberto Schneider Junior"><strong>Carlos</strong></span>,
      <span placement="top" ngbTooltip="8517032 - Lais Helena Chiachio de Miranda"><strong>Lais</strong></span> e
      <span placement="top" ngbTooltip="7573187 - Rafael Hiroki de Figueiroa Minami"><strong>Rafael</strong></span>
    </p>
    <p><a href="https://github.com/carlosasj/SCC0565-2017-2-projeto" target="_blank">Ver o código fonte no Github</a></p>
  </div>
</footer>
