<div class="row">
  <div class="col-12">
    <h4>{{category?.name}}</h4>
    <hr>

    <div class="row">
      <div *ngFor="let recipe of recipes" class="col-12 col-md-6">
        <app-recipe-card  [recipeTitle]="recipe.name"
                              img="assets/recipes/dessert/bolo-caneca.jpg"
                              [abstract]="recipe.description"
                              author="{{'Por: ' + recipe.author.full_name}}"
                              [submitDate]="1506877722296"
                              [id]="recipe.id"
        ></app-recipe-card>
      </div>
    </div>

  </div>
</div>
