@import "~bootstrap/scss/functions";

@import "color";
@import "options";
@import "spacing";
@import "body";
@import "links";
@import "paragraphs";
@import "grid";
@import "fonts";
@import "components";
@import "tables";
@import "buttons";
@import "forms";
@import "dropdowns";
@import "z-index";
@import "navs";
@import "navbar";
@import "pagination";
@import "jumbotron";
@import "cards";
@import "tooltips";
@import "popovers";
@import "badges";
@import "modals";
@import "alerts";
@import "progress-bars";
@import "list-group";
@import "image-thumbnails";
@import "figures";
@import "breadcrumbs";
@import "carousel";
@import "close";
@import "code";

@import "~bootstrap/scss/variables";
