<div class="row">
        <div class="col-sm-12">
            <div class="page-panel">
                <h5>Incluir Receita</h5>
                <hr>
                <form action="">
                    <div class="form-group row">
                        <label for="author" class="col-sm-2 col-md-3 col-form-label">Autor</label>
                        <div class="col-sm-10 col-md-9">
                            <input type="text" class="form-control uppercase" id="author" value="Érick Jacquin"  disabled required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="recipe-name" class="col-sm-2 col-md-3 col-form-label">Nome da receita</label>
                        <div class="col-sm-10 col-md-9">
                            <input type="text" class="form-control" id="recipe-name"  required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-md-3 col-form-label">Descrição</label>
                        <div class="col-sm-10 col-md-9">
                            <textarea class="form-control" id="description" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="state" class="col-sm-2 col-md-3 col-form-label">Categoria</label>
                        <div class="col-sm-10 col-md-9">
                            <select class="custom-select" id="categories" required>
                                <option disabled selected>Selecione a Categoria</option>
                                <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-2 col-md-3 col-form-label">Telefone</label>
                        <div class="col-sm-10 col-md-9">
                            <input type="text" class="form-control" id="phone" placeholder="(XX) XXXX-XXXX" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-md-3 col-form-label">E-mail</label>
                        <div class="col-sm-10 col-md-9">
                            <input type="email" class="form-control" id="email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-md-3 col-form-label">Senha</label>
                        <div class="col-sm-10 col-md-9">
                            <input type="password" class="form-control" id="password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password-verification" class="col-sm-2 col-md-3 col-form-label">Confirmação de senha</label>
                        <div class="col-sm-10 col-md-9">
                            <input type="password" class="form-control" id="password-verification" required>
                        </div>
                    </div>
                    <div class="float-right clearfix">
                        <button type="button" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>