/* You can add global styles to this file, and also import other style files */
@import "./stylesheets/variables/variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "./stylesheets/overrides/overrides";

.page-panel {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    padding: 1.25rem;
    display: flow-root;
}

.v-space {
    margin: 15px 0;
}